<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Don't sleep - webcam</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">


  <style>
    .all{
      margin : 30px;
      height : 600px;
    }
    .stw{
      position : absolute;
      width : 200px;
	  height : 70px;
	  left : 750px;
	  top : 400px;
    }
	.cam{
	   position : absolute;
	   width : 650px;
	   height : 550px;
	}
	.clock{
	   position : absolute;
	   width : 300px;
	   height : 300px;
	   left : 700px;
	}
  </style>
</head>


<body style="background-color:#fcfcfc">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">Task Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Mypage</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="all">

  <div class="cam">
  <img src="{% url 'task_manager' %}">
  </div>

  <div class="stw">
    <div>
      <span id="postTestMin">00</span><!-- 분 -->
      <span>:</span>
      <span id="postTestSec">00</span><!--초-->
      <span>.</span>
      <span id="postTestMilisec">00</span><!--밀리초-->
    </div>

    <div>
      <ul id="testRecordList"></ul><!--중간 기록할 리스트-->
    </div>

    <div>
      <button type="button" id="testStartBtn">START</button><!--시작/재시작/기록 버튼-->
      <button type="button" id="testStopBtn">STOP</button><!--스톱 버튼-->
    </div>
  </div>

  <div class="clock">
    <div class="time_box">
      <span class="txt_lg" id="hours"></span>
      <span class="mark">:</span>
      <span class="txt_lg" id="min"></span>
      <span class="mark02">.</span>
      <span class="txt_sm" id="sec"></span>
    </div>

    <div class="date_box">
      <span id="month"></span>
      <span class="point">.</span>
      <span id="date"></span>
      <span class="point">.</span>
      <span id="year"></span>
      <span id="day"></span>
    </div>
  </div>

</div>

  <link rel="stylesheet" href="{% static 'css/clock.css' %}">

  <script src="{% static 'css/clock.js' %}"></script>
  <script src="{% static 'css/stopwatch.js' %}"></script>

</body>

</html>