<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Don't sleep - webcam</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">


  <style>
	#grid{
      display: grid;
      grid-template-columns: 500px 1fr;
	}
	h1{
	  border-bottom:5px solid black;
	  padding:20px;
	  margin:10px;
	  }
	ol {
      border:5px solid black;
      width:650px;
      height:550px;
      margin-top:50px;
      margin-left:120px;
      padding: 45px;
	}
	.cam{
	   text-align:center;
	   margin-top:50px;
	   margin-left:170px;
	}
  </style>
</head>


<body style="background-color:#dcdcdc">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">Task Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Mypage</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <h1 style="text-align:center">Task Manager</h1>
    <div id="grid">
    <ol>
      <h2 style="margin-bottom:48px;font-weight:bold; text-align:center;">눈깜빡임 측정 원리</h2>
      <li style="font-weight:bold;font-size:20px;">캠에 얼굴형이 인식되게 한다.</li>
      <li style="font-weight:bold;font-size:20px;margin-top:50px; ">캠에 얼굴형이 인식되면 눈을 인식한다.</li>
      <li style="font-weight:bold;font-size:20px;margin-top:50px;">오른쪽 상단에 20초간격으로 눈깜빡임을 카운팅한다. </li>
      <p style="font-weight:bold;font-size:15px;margin-top:120px;">* 얼굴형이 무조건 캠에 나와야됩니다.</p>
      <p style="font-weight:bold;font-size:15px;">* 고개를 많이 숙이면 인식이 잘안됩니다.</p>
    </ol>
    <div class="cam">
      <img src="{% url 'task_manager' %}">
    </div>
  </div>



</body>

</html>