{% extends "base.html" %}
{% block content %}
{% load static %}
<title>Task Manager - MyPage</title>

<head>
    <!--chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
    <style>
        .bar{
  position : absolute;
      width : 1000px;
    height : 700px;
    left :250px;
    top : 120px;
  }
  .doughnut{
  position : absolute;
      width : 500px;
    height : 400px;
    left :1350px;
    top : 120px;
  }
  </style>
</head>

<body>
    <div class="all">
        <!--barchart-->
        <div class="bar">
            <div>
                <canvas id="myChart"></canvas>
                <script>
                labels1 = [
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thr',
                    'Fri',
                    'Sat',
                    'Sun'
                ];
                data = {
                    labels: labels1,
                    datasets: [{
                        label: 'Number of drowsiness detections this week',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',

                        data: [0, 6, 2, 1, 4, 5, 8], // 전처리된 리스트형 데이터 필요 크기 7

                    }]
                };
                const config1 = {
                    type: 'line',
                    data,
                    options: {}
                };
                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config1
                );
                </script>
            </div>
        </div>
        <!--doughnutchart-->
        <div class="doughnut">
            <div>
                <canvas id="dChart"></canvas>
                <script>
                const data = {
                    labels: [
                        'Red',
                        'Blue',
                        'Yellow'
                    ],
                    datasets: [{
                        label: 'My First Dataset',

                        data: [300, 50, 100], // 크기 3인 리스트형 데이터 전처리 필요

                        backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                        ],
                        hoverOffset: 4
                    }]
                };

                const config = {
                    type: 'doughnut',
                    data: data,
                };

                var dChart = new Chart(
                    document.getElementById('dChart'),
                    config
                );
                </script>
            </div>
        </div>
    </div>
</body>
{% endblock %}