{% extends "base.html" %}
{% block content %}
{% load static %}

<body style="background-color:#fcfcfc">
    <div class="all" style="background-color:#ffffff ">
        <div>
            <script type="text/javascript">
            const temp = "{{ d_data }}"
            let d_datas = JSON.parse(temp);
            document.write('val :' + d_datas + '<br>');
            let b_datas = JSON.parse("{{ b_data | escapejs }}");
            document.write('val :' + b_datas + '<br>');
            </script>
        </div>
    </div>
</body>
{% endblock %}