<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Don,t sleep - Main</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">
  <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
	.about{
        border-right:5px solid black;
        border-left:5px solid black;
	}
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main' %}">Task Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Mypage</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#">사용자 : {{user.username}}님</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class ="container">
    <div class="row">
      <div class ="col-md-12">
        <canvas id="myChartone"></canvas>
      </div>
    </div>
  </div>
  <script>
    let myChartOne = document.getElementById('myChartOne').getContext('2d');
    let barchart = new Chart(myChartOne,{
    type: 'bar',
    data : {
      labels : ['school','police','sad','qwer','asdaf'],
      datasets: [{
       label : 'asd',
       data : [
         10,
         100,
         100,
         200,
         1000
        ]
        }]
      }
    })
  </script>

</body>

</html>